<div id="gridContainer">
    <label id="nameLabel">Name:</label>
    <label id="managerLabel">Manager:</label>
    <label id="primAssignLabel">Primary Task:</label>
    <label id="secondAssignLabel">Secondary Task:</label>
    <label id="roleLabel">Role:</label>
    <label id="teamLabel">Team:</label>
    <div id="name">{{ currentUser.name }}</div>
    <div id="manager">{{ currentUser.manager }}</div>
    <div id="primAssign">{{ currentUser.primaryAssignment }}</div>
    <div id="secondAssign">{{ currentUser.secondaryAssignment }}</div>
    <div id="role">{{ currentUser.role }}</div>
    <div id="team">{{ currentUser.team }}</div>
</div>