<p>registration works!</p>
<h1>Goals</h1>
<ol>
    <li>Add user registration, component should display for manager role only.  Add user to current manager's team.</li>
    <li>Add manager registration component, should create a new team when a manager is registered if "New Team" selected.  
        When "New Team" is selected, create a text field to allow a team name to be entered.</li>
    <li>Change manager - allow for a manager to be removed.</li>
</ol>
<app-user-registration *ngIf="userRole ==='Manager'"></app-user-registration>
<app-manager-registration *ngIf="userRole === 'Admin'"></app-manager-registration>