<div>
    <h4>{{ member.name }}</h4>
    <label>Current Primary Task: {{ member.primaryAssignment }}</label>
    <br>
    <label>New Primary: </label>
    <select #primary>
        <option *ngFor="let task of taskList">{{ task }}</option>
    </select>
    <br>
    <label>Current Secondary Task: {{ member.secondaryAssignment }}</label>
    <br>
    <label>New Secondary: </label>
    <select #secondary>
        <option *ngFor="let task of taskList">{{ task }}</option>
    </select>
    <br>
    <button type="submit" (click)="onSubmit()">Submit</button>
</div>
