<div>
    <h2 class="hTwoOnGrey">{{ member.name }}</h2>
    <h3 class="taskLabel primaryTextColor">Primary Task: {{ member.primaryAssignment }}</h3>
    <div class="twoColumnGrid">
        <label class="primaryTextColor">Change: </label>
        <select #primary>
            <option *ngFor="let task of taskList">{{ task }}</option>
        </select>
    </div>
    <h3 class="primaryTextColor">Secondary Task: {{ member.secondaryAssignment }}</h3>
    <div class="twoColumnGrid">
        <label class="primaryTextColor">Change: </label>
        <select #secondary>
            <option *ngFor="let task of taskList">{{ task }}</option>
        </select>
    </div>
    <button type="submit" (click)="onSubmit()">Submit</button>
    <button type="submit" (click)="onRemove()">Delete User</button>
</div>
