@media screen and (min-width: 800px) {
    h2, p, ol, li {
        color: white;
        filter: brightness(130%)
    }
}

ol {
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
}