<div class="userUpdate" *ngIf="dashboard !== 'Manager' && dashboard !== 'Admin'">
    <h2>{{ update.task }}</h2>
    <p>{{ update.info }}</p>
</div>
<div class="userUpdate" *ngIf="dashboard === 'Manager' && membersNotRead.length > 0">
    <h1 class="primaryTextColor">{{ update.task }}</h1>
    <p>{{ update.info }}</p>
    <div>
        <ol>Not Acknowledged By: 
            <li *ngFor="let member of membersNotRead">{{ member.name }}</li>
        </ol>
    </div>
    <button (click)="onDelete(index)">Delete Update</button>
</div>