@media screen and (min-width: 800px) {
    .flexContainer {
        display: flex;
        gap: 1rem;
        margin: 0 auto 0 auto;
        justify-content: center;
        max-width: 1569px;
        width: 95%;
        flex-wrap: wrap;
    }

    .flexContainer div {
        min-width: 300px;
    }

    .spaceAboveBelow {
        margin: 1rem 0 1rem 0;
    }
}

