<nav *ngIf="loggedIn === true">
    <div class="mobileNav" (click)="displayMobile()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div [ngClass]="{'hide': !displayMobileNav}" class="mobileBackdrop" (click)="displayMobile()">
        <button (click)="onHome()">Home</button>
        <button *ngIf="userRole !== 'Admin'" (click)="onAllTips()">All Tips</button>
        <button *ngIf="userRole !== 'Admin'" (click)="onAllUpdates()">All Updates</button>
        <button (click)="onChangePassword()">Change Password</button>
        <button class="logOut" (click)="onLogOut()">Log Out</button>
        <button class="returnButton"><a href="https://mbilyeu.com/">Portfolio</a></button>
    </div>
    <div class="desktopNav">
        <div class="navFlex">
            <button [ngClass]="getClass('home')" (click)="onHome()">Home</button>
            <button *ngIf="userRole !== 'Admin'" [ngClass]="getClass('allTips')" (click)="onAllTips()">All Tips</button>
            <button *ngIf="userRole !== 'Admin'" [ngClass]="getClass('allUpdates')" (click)="onAllUpdates()">All Updates</button>
            <button [ngClass]="getClass('changePassword')" (click)="onChangePassword()">Change Password</button>
            <button class="returnButton"><a href="https://mbilyeu.com/">Portfolio</a></button>
        </div>
        <button class="logOut" (click)="onLogOut()">Log Out</button>
    </div>
</nav>
<div class="loginForm" *ngIf="loggedIn === false">
    <div class="formContainer">
        <div class="formGridContainer">
            <label>Name: </label>
            <input type="text" #userName>
            <label>Password: </label>
            <input type="password" #password>
            <label>Role: </label>
            <select #role>
                <option>User</option>
                <option>Manager</option>
                <option>Admin</option>
            </select>
        </div>
        <button class="submit" type="submit" (click)="onLogIn()">Log In</button>
    </div>
</div>
<div>
    <router-outlet *ngIf="loggedIn === true"></router-outlet>
</div>