<nav *ngIf="loggedIn === true">
    <button (click)="onHome()">Home</button>
    <button (click)="onAllTips()">All Tips</button>
    <button (click)="onAllUpdates()">All Updates</button>
    <button (click)="onLogOut()">Log Out</button>
</nav>
<div *ngIf="loggedIn === false">
    <label>Name: </label>
    <input type="text" #userName>
    <label>Password: </label>
    <input type="password" #password>
    <label>Team: </label>
    <select #teamName>
        <option *ngFor="let teamName of allTeamNames">{{ teamName }}</option>
    </select>
    <label>Role: </label>
    <select #role>
        <option>User</option>
        <option>Manager</option>
        <option>Admin</option>
    </select>
    <button type="submit" (click)="onLogIn()">Log In</button>
</div>
<router-outlet *ngIf="loggedIn === true"></router-outlet>