<h1>Change Managers</h1>
<div>
    <div class="twoColumnGrid">
        <label>{{ teamName }}</label>
        <select #managerSelection>
            <option *ngFor="let manager of managers">{{ manager.name }}</option>
        </select>
    </div>
    <button type="submit" (click)="onRemoveManager()">Remove Manager</button>
    <hr>
    <div class="twoColumnGrid">
        <label>Add Manager: </label>
        <input type="text" #addManager>
    </div>
    <button type="submit" (click)="onAddManager()">Add Manager</button>
    <hr>
    <button class="deleteButton" type="submit" (click)="onDelete()">Delete {{ teamName }}</button>
</div>
