/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #26d89d;
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.strike {
    text-decoration: line-through;
}