/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #26d89d;
}

* {
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 95%;
}

body {
    margin: 0;
}

.strike {
    text-decoration: line-through;
}

.hide {
    display: none !important;
}

h1 {
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--primary-color);
}

h2 {
    font-size: 1.2rem;
    text-decoration: underline;
    color: var(--primary-color);
    filter: brightness(60%);
}

h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
    filter: brightness(60%);
}

.twoColumnGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2px;
}

button {
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 8px;
}

.grey {
    background-color: grey;
    width: 100%;
}

.white {
    background-color: white;
    width: 100%;
}